<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jacksonskin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_pedidos"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_usuario"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity
            android:name=".views.crud.ClientesActivity"
            android:label="@string/title_activity_clientes"></activity>
        <activity android:name=".views.menu.MenuAdm" />
        <activity
            android:name=".views.FormA.FormAdm"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".views.menu.MenuCliente"
            android:parentActivityName=".views.login.loginActivity" />
        <activity
            android:name=".views.FormC.FormCliente"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".views.login.loginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>